# Changelog
All notable changes to ansible collection {{ namespace }}.{{ collection_name }} will be documented in this file.

## [1.0.0] - dd/mm/yyyy
### Added
- Created {{ namespace }}.{{ collection_name}} ansible collection
